include LICENSE
include README.md
include *.txt

recursive-include odm2rest/static *
recursive-include odm2rest/templates *
recursive-include odm2rest/swagger *
recursive-include odm2rest/schemas *

include versioneer.py
include odm2api/_version.py